# Application settings
PORT=9988
HOST=0.0.0.0

# Storage paths
# Use absolute paths from your host machine
MNT_DIR=/mnt
MEDIA_DIR=/media
SRV_DIR=/srv

# Synology Example:
# MNT_DIR=/volume1
# MEDIA_DIR=/volume1/video
# SRV_DIR=/volume1/homes
